.right-side {
    text-align: right;
    padding-right: 40px;
    padding-top: 20px;
}

h2 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;}

p {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 120px;}

/* Default for desktop */
body {
    font-size: 18px;
    padding: 20px;
}

/* For screens smaller than 768px (mobile) */
@media (max-width: 512px) {
    body {
        font-size: 16px;
        padding: 10px;
    }
}

.flex-container {
    display: flex;
    justify-content: space-around; /* Space between boxes */
    flex-wrap: wrap;               /* Allow wrapping on small screens */
    gap: 20px;                     /* Space between rows or columns */
}

.box {
    background-color: #4CAF50;
    color: white;
    padding: 40px;
    text-align: center;
    flex: 1 1 200px;  /* Flexible width: minimum 200px */
    border-radius: 8px;
}